@import url('https://fonts.cdnfonts.com/css/sf-pro-display?styles=98774,98777,98776,98772,98773,98775,98770,98771,98769');

$primary-color: #1e212e;
$secondary-text-color: #7781a4;
$default-font: 'SF Pro Display', sans-serif;
