.mask {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(24, 26, 35, 0.68);
	backdrop-filter: blur(2px);
	margin: -20px;

	.block {
		width: 35%;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-80%, -60%);
		border-radius: 22px;
		border: 1px solid #2b2e3f;
		background: #222635;
		padding: 20px 25px 20px 25px;

		.cross {
			position: absolute;
			top: 10px;
			right: 20px;
			cursor: pointer;
			background: #2a2e41;
			padding: 32px 40px;
			border-radius: 22px;
		}

		.title {
			color: #fff;
			font-size: 20px;
			font-weight: 400;
			margin-bottom: 70px;
		}

		.textArea {
			.textTitle {
				color: #fff;
				font-size: 36px;
				font-weight: 400;
			}
			.text {
				color: #7781a4;
				font-size: 15px;
				font-weight: 400;
			}
		}
	}
}
