.block {
	display: flex;
	align-items: center;
	gap: 11px;
	padding: 3px 8px;
	border-radius: 33px;
	background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(255, 184, 0, 0.2) 0.01%,
			rgba(255, 143, 39, 0.2) 100%
		),
		#222635;
	box-shadow: 0px 4px 33px -8px rgba(0, 0, 0, 0.25);

	.text {
		color: #fed843;
		text-align: center;
		font-size: 14px;
		font-weight: 500;
	}
}

.blockStarter {
	display: flex;
	align-items: center;
	gap: 11px;
	padding: 6px 57px;
	border-radius: 33px;
	background: linear-gradient(
		180deg,
		rgba(240, 220, 255, 0.44) 0%,
		rgba(177, 177, 177, 0.44) 100%
	);
	box-shadow: 0px 4px 33px -8px rgba(0, 0, 0, 0.25);

	.text {
		color: #fff;
		text-align: center;
		font-size: 14px;
		font-weight: 500;
	}
}

.blockLeader {
	display: flex;
	align-items: center;
	padding: 3px 8px;
	gap: 11px;
	border-radius: 33px;
	background: linear-gradient(
		180deg,
		rgba(198, 125, 255, 0.44) 0%,
		rgba(121, 39, 255, 0.44) 100%
	);
	box-shadow: 0px 4px 33px -8px rgba(0, 0, 0, 0.25);

	.text {
		color: #cbb2ff;
		text-align: center;
		font-size: 14px;
		font-weight: 500;
	}
}

.blockBusiness {
	display: flex;
	align-items: center;
	padding: 3px 8px;
	gap: 11px;
	border-radius: 33px;
	background: linear-gradient(
		180deg,
		rgba(125, 247, 255, 0.44) 0%,
		rgba(39, 255, 216, 0.44) 100%
	);
	box-shadow: 0px 4px 33px -8px rgba(0, 0, 0, 0.25);

	.text {
		color: #3fffe8;
		text-align: center;
		font-size: 14px;
		font-weight: 500;
	}
}
